@import 'https://fonts.googleapis.com/css?family=Libre+Franklin';
body {
  font-size: 10px;
  text-transform: inherit;
  background: url('http://il3.picdn.net/shutterstock/videos/5390543/thumb/1.jpg');
  background-size: cover;
  color: white;
  font-family: 'Libre Franklin', serif;
  background-repeat: no-repeat;
  background-position: top;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 2px #000;
}

/*
#article {
  border: none;
  border-radius: 8px:
  font-family: 'Libre Franklin', serif;
  font-size: 25px;
  letter-spacing: 2px;
  color: white;
  position: relative;
}*/

  #summary {
    font-family: 'Prociono', serif;
    font-size: 25px;
    letter-spacing: 2px;
    color: #3C444C ;
    position: relative;
  }

#btn {
  /*margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:100px;
  font-size:15px;
  border-top: 2px solid #a3ceda;
  border-left: 2px solid #a3ceda;
  border-right: 2px solid #4f6267;
  border-bottom: 2px solid #4f6267;
  padding: 10px 20px !important;
  font-size: 14px !important;
  background-color:	#c4f1fe;
  font-weight: bold;
  color: #2d525d;*/
}

#articles {
  background-color: #c4f1fe;
  border: none;
  border-radius: 8px:
  font-family: 'Libre Franklin', serif;
  font-size: 25px;
  letter-spacing: 2px;
  color: white;
  position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.center {
  font-style: bold;
  text-align: center;
}
